/*
  white: #FAFAFA
  dark: #17183B
  green: #5fbb97
  red: #ed6b86
*/

:root {
  --my-bg-dark: #12263A;
  --my-bg-green: #56E39F;
  --my-bg-green-darker: #1FC173;
  --my-bg-red: #FE5F55;
  --my-white: #fafafa;
}

body {
  background-color: var(--my-bg-dark);
  color: var(--my-white);
  font-family: "Open Sans", sans-serif;
}

h1 {
  color: var(--my-bg-green);
}

.profile-img {
  border: 0.5px solid var(--my-bg-dark);
  box-shadow: 18px -18px var(--my-bg-green);
}

.btn.btn-social-icon {
  width: 50px;
  height: 50px;
  padding: 0;
}

.btn.btn-rounded {
  border: 1px solid var(--my-bg-dark);
  border-radius: 50px;
}

.btn-green {
  background: var(--my-bg-green);
  color: var(--my-bg-dark);
}

.btn-green:hover,
.btn-green:focus {
  background: var(--my-bg-green-darker);
  color: var(--my-bg-dark);
}
